@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 16px;
  background: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: #b1b3c8;
  border-radius: 8px;
}

.suggestionScroll::-webkit-scrollbar {
  display: none;
}

.gradient-border-bottom {
  border-image: linear-gradient(to right, #c201ca, #a549ff, #3129e7);
  border-image-slice: 1;
}

.primaryBtn {
  background: linear-gradient(133deg, #c201ca 20.28%, #3129e7 83.49%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
}

.confTable:hover .tableRowConf {
  color: #535576;
}

.confTable:hover .tableRowConfYear {
  color: #686c8f;
}

.confTable:hover .tableRowTitle {
  background: linear-gradient(90deg, #c201ca 12.99%, #3129e7 80.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tableRowJs {
  display: block;
}

.confTable:hover .tableRowJs {
  display: none;
}

.tableRowJsHover {
  display: none;
}

.confTable:hover .tableRowJsHover {
  display: block;
}

/*switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid rgba(2, 0, 20, 0.15);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1px;
  bottom: 0px;
  background-color: #c0bfc4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.modalShadow {
  box-shadow: 0px 8px 16px 0px #6865b31f;
}
